h2 The Team
p Gil Chen-Zion
br
p Gilad Penn
br
p Josh Augustin
br
p Mimoun Paul Cadosch Delmar
br

h2 About Us
p If you don't know how these games work, the rules are pretty simple: Players get distributed cards. Each round, one player pulls a card with an adjective, and everyone else puts in a card with the noun that best matches that adjective. Although the game is always so much fun, after 4 or 5 times of playing, you end up running out of nouns and the topics get stale.

We wanted to refresh and revitalize this game by allowing users to generate their own decks with relevant topics of their own interest. So, we created Hacks2Packs, a website where you can create your own set of cards, print them out, or share them with friends online.

