.controlset
  input.title(type="text", name="title", ng-model="title", placeholder="Title")
  input.description(type="hidden", name="description", ng-model="description", placeholder="This is a custom deck made by the powers of HackNY") 
  button Print
  button.publish(ng-click="publish(newDeck)") Publish 
.nouns
  h2 Nouns
  .card(ng-repeat="noun in newDeck.nouns")
    button.delete(ng-click="newDeck.nouns.splice($index, 1)") delete 
    button.edit(ng-hide="editing", ng-click="editing = true") edit
    
    p(ng-hide="editing")
      {{noun}}

  .card
    form(ng-show="editing")
      button.edit(ng-show="editing", ng-click="editing = false; newDeck.nouns[$index] = newText") done
      textarea(ng-model="newText", ng-init="newText = noun")

.adjs
  h2 Adjectives
  .card(ng-repeat="adj in newDeck.adjs") 
    button.delete(ng-click="newDeck.adjs.splice($index, 1)") delete
    button.edit(ng-hide="editing", ng-click="editing = true") edit
    
    p(ng-hide="editing")
      {{adj}}
  .card
    form(ng-show="editing")
      button.edit(ng-show="editing", ng-click="editing = false; newDeck.adjs[$index] = newText2") done
      textarea(ng-model="newText2", ng-init="newText2 = adj")
      
