.controlset
.deck
  .nouns(ng-repeat="noun in newDeck.nouns")
    .card 
      button.edit(ng-hide="editing", ng-click="editing = true") edit
      p(ng-hide="editing")
        {{noun}}
      
      form(ng-show="editing")
        input(type="text", ng-model="newText", ng-init="newText = noun")
        button.edit(ng-show="editing", ng-click="editing = false; newDeck.nouns[$index] = newText") done
  .adjs(ng-repeat="adj in newDeck.adjs")
    .card 
      button.edit(ng-hide="editing", ng-click="editing = true") edit
      p(ng-hide="editing")
        {{adj}}
      
      form(ng-show="editing")
        input(type="text", ng-model="newText2", ng-init="newText2 = adj")
        button.edit(ng-show="editing", ng-click="editing = false; newDeck.adjs[$index] = newText2") done

         