.jumbotron
  p.description Generate your own deck of Hacks2Packs cards by typing in a search term below.
  #querybox
    form(ng-submit="submit()")
      input(type="text", placeholder="Topic (ex. Miley Cyrus, Syria)...", ng-model="formText", ng-hide="loading")
      p(ng-show="loading") Loading...
      button.primary(type="submit", ng-hide="loading") Generate
#decklist-wrap
  .decklist 
    h2 Popular
    .deck(ng-repeat="deck in voteDecks.result")
      a(href="#") {{deck.title}}
  .decklist 
    h2 Editor's Picks
    .deck(ng-repeat="deck in editorsDecks.result")
      a(href="#") {{deck.title}}
  .decklist 
    h2 Recent
    .deck(ng-repeat="deck in dateDecks.result")
      a(href="#") {{deck.title}}
