@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #F0F0F0;
  background: image-url("../images/greyzz.png");
  color: #333;
  font-family: Lato, Arial, sans-serif; }

#container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em; }
  #container:before, #container:after {
    content: " ";
    display: table; }
  #container:after {
    clear: both; }
  @media screen and (max-width: 767px) {
    #container {
      margin: 0; } }

#nav {
  background-color: #a9e2e9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9e2e9), color-stop(100%, #80d4df));
  background-image: -webkit-linear-gradient(#a9e2e9, #80d4df);
  background-image: linear-gradient(#a9e2e9, #80d4df);
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  border-radius: 6px;
  font-size: 18px;
  text-decoration: none;
  width: 100%;
  margin-bottom: 1em; }
  #nav:last-child {
    margin-right: 0; }
  #nav a:link {
    text-decoration: none; }
  #nav a:visited {
    text-decoration: none; }
  #nav li {
    border-radius: 10px;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    list-style-type: none;
    display: inline-block;
    text-align: center; }
    #nav li:last-child {
      margin-right: 0; }
    #nav li a {
      display: block;
      padding: 1em 0em;
      color: white; }
    #nav li.active {
      background-color: #a9e2e9;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9e2e9), color-stop(100%, #80d4df));
      background-image: -webkit-linear-gradient(#a9e2e9, #80d4df);
      background-image: linear-gradient(#a9e2e9, #80d4df); }

#footer {
  position: fixed;
  bottom: 0px;
  height: 3em;
  background-color: #eaa83a;
  width: 100%;
  text-align: left;
  padding-top: 10px; }
  #footer a {
    color: #FFFFFF;
    margin-left: 20%;
    padding-top: 10px;
    text-decoration: none; }
    #footer a a:link {
      text-decoration: none; }
    #footer a a:visited {
      text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #F0F0F0;
  background: image-url("../images/greyzz.png");
  color: #333;
  font-family: Lato, Arial, sans-serif; }

#container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em; }
  #container:before, #container:after {
    content: " ";
    display: table; }
  #container:after {
    clear: both; }
  @media screen and (max-width: 767px) {
    #container {
      margin: 0; } }

#nav {
  background-color: #a9e2e9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9e2e9), color-stop(100%, #80d4df));
  background-image: -webkit-linear-gradient(#a9e2e9, #80d4df);
  background-image: linear-gradient(#a9e2e9, #80d4df);
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  border-radius: 6px;
  font-size: 18px;
  text-decoration: none;
  width: 100%;
  margin-bottom: 1em; }
  #nav:last-child {
    margin-right: 0; }
  #nav a:link {
    text-decoration: none; }
  #nav a:visited {
    text-decoration: none; }
  #nav li {
    border-radius: 10px;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    list-style-type: none;
    display: inline-block;
    text-align: center; }
    #nav li:last-child {
      margin-right: 0; }
    #nav li a {
      display: block;
      padding: 1em 0em;
      color: white; }
    #nav li.active {
      background-color: #a9e2e9;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9e2e9), color-stop(100%, #80d4df));
      background-image: -webkit-linear-gradient(#a9e2e9, #80d4df);
      background-image: linear-gradient(#a9e2e9, #80d4df); }

#footer {
  position: fixed;
  bottom: 0px;
  height: 3em;
  background-color: #eaa83a;
  width: 100%;
  text-align: left;
  padding-top: 10px; }
  #footer a {
    color: #FFFFFF;
    margin-left: 20%;
    padding-top: 10px;
    text-decoration: none; }
    #footer a a:link {
      text-decoration: none; }
    #footer a a:visited {
      text-decoration: none; }

.jumbotron {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  padding: 1.5em 3em;
  font-size: 2em; }
  .jumbotron:last-child {
    margin-right: 0; }
  @media screen and (max-width: 767px) {
    .jumbotron {
      padding: 1.5em 0; } }

p.description {
  text-align: center;
  margin-bottom: 1em; }

#querybox {
  text-align: center; }
  #querybox form input, #querybox form button {
    padding: 0.25em;
    font-size: 18px;
    color: #FFFFFF; }
  #querybox form input {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 350px;
    font-size: 18px; }
    @media screen and (max-width: 767px) {
      #querybox form input {
        display: block;
        float: left;
        margin-right: 4.82916%;
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; }
        #querybox form input:last-child {
          margin-right: 0; } }
    #querybox form input:active {
      outline: 0;
      border-color: #80d4df; }
  #querybox form button {
    margin-left: -3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }
    @media screen and (max-width: 767px) {
      #querybox form button {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px; } }

#decklist-wrap .decklist {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%;
  text-align: center;
  padding: 0.5em;
  padding-bottom: 0; }
  #decklist-wrap .decklist:before, #decklist-wrap .decklist:after {
    content: " ";
    display: table; }
  #decklist-wrap .decklist:after {
    clear: both; }
  #decklist-wrap .decklist:last-child {
    margin-right: 0; }
  #decklist-wrap .decklist h2 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #abacb0; }
  #decklist-wrap .decklist .deck {
    height: 3em;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%;
    border-radius: 2px;
    font-family: 'Lato';
    font-weight: normal;
    size: 18px;
    background-color: #FFFFFF;
    border: 1px solid #919297;
    margin-bottom: 0.4em;
    padding: 0.25em; }
    #decklist-wrap .decklist .deck:last-child {
      margin-right: 0; }
    #decklist-wrap .decklist .deck:nth-child(5n) {
      margin-right: 0; }
    #decklist-wrap .decklist .deck:nth-child(5n+1) {
      clear: left; }
    #decklist-wrap .decklist .deck a:link {
      text-decoration: none; }
    #decklist-wrap .decklist .deck a:visited {
      text-decoration: none; }
    #decklist-wrap .decklist .deck a {
      color: #FF8000; }
    #decklist-wrap .decklist .deck p {
      font-weight: normal; }
    @media screen and (max-width: 980px) {
      #decklist-wrap .decklist .deck {
        display: block;
        float: left;
        margin-right: 3.16844%;
        width: 42.6842%;
        width: 48%; }
        #decklist-wrap .decklist .deck:last-child {
          margin-right: 0; }
        #decklist-wrap .decklist .deck:nth-child(0n) {
          margin-right: 0; }
        #decklist-wrap .decklist .deck:nth-child(0n+1) {
          clear: left; }
        #decklist-wrap .decklist .deck:nth-child(odd) {
          margin-right: 0; } }
    @media screen and (max-width: 767px) {
      #decklist-wrap .decklist .deck {
        display: block;
        float: left;
        margin-right: 4.82916%;
        width: 100%; }
        #decklist-wrap .decklist .deck:last-child {
          margin-right: 0; }
        #decklist-wrap .decklist .deck:nth-child(0n) {
          margin-right: 0; }
        #decklist-wrap .decklist .deck:nth-child(0n+1) {
          clear: left; } }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #F0F0F0;
  background: image-url("../images/greyzz.png");
  color: #333;
  font-family: Lato, Arial, sans-serif; }

#container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em; }
  #container:before, #container:after {
    content: " ";
    display: table; }
  #container:after {
    clear: both; }
  @media screen and (max-width: 767px) {
    #container {
      margin: 0; } }

#nav {
  background-color: #a9e2e9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9e2e9), color-stop(100%, #80d4df));
  background-image: -webkit-linear-gradient(#a9e2e9, #80d4df);
  background-image: linear-gradient(#a9e2e9, #80d4df);
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  border-radius: 6px;
  font-size: 18px;
  text-decoration: none;
  width: 100%;
  margin-bottom: 1em; }
  #nav:last-child {
    margin-right: 0; }
  #nav a:link {
    text-decoration: none; }
  #nav a:visited {
    text-decoration: none; }
  #nav li {
    border-radius: 10px;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    list-style-type: none;
    display: inline-block;
    text-align: center; }
    #nav li:last-child {
      margin-right: 0; }
    #nav li a {
      display: block;
      padding: 1em 0em;
      color: white; }
    #nav li.active {
      background-color: #a9e2e9;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9e2e9), color-stop(100%, #80d4df));
      background-image: -webkit-linear-gradient(#a9e2e9, #80d4df);
      background-image: linear-gradient(#a9e2e9, #80d4df); }

#footer {
  position: fixed;
  bottom: 0px;
  height: 3em;
  background-color: #eaa83a;
  width: 100%;
  text-align: left;
  padding-top: 10px; }
  #footer a {
    color: #FFFFFF;
    margin-left: 20%;
    padding-top: 10px;
    text-decoration: none; }
    #footer a a:link {
      text-decoration: none; }
    #footer a a:visited {
      text-decoration: none; }

textarea, input, button {
  font-size: 1em; }

input, textarea {
  border: 1px solid #919297; }
  input:focus, textarea:focus {
    outline: none;
    border-color: #80d4df; }

button, .button {
  border: 1px solid #919297;
  background-color: #abacb0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #abacb0), color-stop(100%, #919297));
  background-image: -webkit-linear-gradient(#abacb0, #919297);
  background-image: linear-gradient(#abacb0, #919297);
  color: white; }
  button.primary, .button.primary {
    border: 1px solid #80d4df;
    background-color: #a9e2e9;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9e2e9), color-stop(100%, #80d4df));
    background-image: -webkit-linear-gradient(#a9e2e9, #80d4df);
    background-image: linear-gradient(#a9e2e9, #80d4df); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #F0F0F0;
  background: image-url("../images/greyzz.png");
  color: #333;
  font-family: Lato, Arial, sans-serif; }

#container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em; }
  #container:before, #container:after {
    content: " ";
    display: table; }
  #container:after {
    clear: both; }
  @media screen and (max-width: 767px) {
    #container {
      margin: 0; } }

#nav {
  background-color: #a9e2e9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9e2e9), color-stop(100%, #80d4df));
  background-image: -webkit-linear-gradient(#a9e2e9, #80d4df);
  background-image: linear-gradient(#a9e2e9, #80d4df);
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  border-radius: 6px;
  font-size: 18px;
  text-decoration: none;
  width: 100%;
  margin-bottom: 1em; }
  #nav:last-child {
    margin-right: 0; }
  #nav a:link {
    text-decoration: none; }
  #nav a:visited {
    text-decoration: none; }
  #nav li {
    border-radius: 10px;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    list-style-type: none;
    display: inline-block;
    text-align: center; }
    #nav li:last-child {
      margin-right: 0; }
    #nav li a {
      display: block;
      padding: 1em 0em;
      color: white; }
    #nav li.active {
      background-color: #a9e2e9;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9e2e9), color-stop(100%, #80d4df));
      background-image: -webkit-linear-gradient(#a9e2e9, #80d4df);
      background-image: linear-gradient(#a9e2e9, #80d4df); }

#footer {
  position: fixed;
  bottom: 0px;
  height: 3em;
  background-color: #eaa83a;
  width: 100%;
  text-align: left;
  padding-top: 10px; }
  #footer a {
    color: #FFFFFF;
    margin-left: 20%;
    padding-top: 10px;
    text-decoration: none; }
    #footer a a:link {
      text-decoration: none; }
    #footer a a:visited {
      text-decoration: none; }

.deck {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .deck:before, .deck:after {
    content: " ";
    display: table; }
  .deck:after {
    clear: both; }

.controlset {
  display: block;
  clear: both;
  text-align: center;
  *zoom: 1;
  width: 100%; }
  .controlset:before, .controlset:after {
    content: " ";
    display: table; }
  .controlset:after {
    clear: both; }
  .controlset button {
    height: 2em;
    border: none;
    border-radius: 5px; }
  .controlset .publish {
    background: #59acf7; }

.nouns div.card p {
  color: #161620; }

.adjs div.card p {
  color: #c5191e; }

@media print {
  h2 {
    display: none; }

  #nav {
    display: none; }

  #footer {
    display: none; } }
input.title {
  font-size: 2em; }

.card {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  position: relative;
  background-color: white;
  border: 1px dotted #b3b3b3;
  border-radius: 5px;
  height: 20em;
  text-align: center; }
  .card:last-child {
    margin-right: 0; }
  .card:nth-child(n) {
    margin-right: 0; }
  .card p, .card textarea {
    font-size: 2em;
    margin-top: 4em; }
  .card button {
    float: right;
    margin: -1px;
    font-size: 1.5em; }
    .card button.delete {
      background-color: #e42d32;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e42d32), color-stop(100%, #c5191e));
      background-image: -webkit-linear-gradient(#e42d32, #c5191e);
      background-image: linear-gradient(#e42d32, #c5191e); }

.nouns, .adjs {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .nouns:last-child, .adjs:last-child {
    margin-right: 0; }
  .nouns:before, .nouns:after, .adjs:before, .adjs:after {
    content: " ";
    display: table; }
  .nouns:after, .adjs:after {
    clear: both; }
