* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  body:before, body:after {
    content: " ";
    display: table; }
  body:after {
    clear: both; }

#nav {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #333; }
  #nav:last-child {
    margin-right: 0; }
  #nav li {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin: 1em 0em;
    text-align: center;
    list-style-type: none;
    display: inline-block; }
    #nav li:last-child {
      margin-right: 0; }
    #nav li a {
      color: white; }
