html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #F0F0F0;
  color: #333;
  font-family: Helvetica, Arial, sans-serif; }

#container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #container:before, #container:after {
    content: " ";
    display: table; }
  #container:after {
    clear: both; }
  @media screen and (max-width: 767px) {
    #container {
      margin: 0; } }

#nav {
  background-color: #e6f6d5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6f6d5), color-stop(100%, #cceeaa));
  background-image: -webkit-linear-gradient(#e6f6d5, #cceeaa);
  background-image: linear-gradient(#e6f6d5, #cceeaa);
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1em; }
  #nav:last-child {
    margin-right: 0; }
  #nav li {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    list-style-type: none;
    display: inline-block;
    text-align: center; }
    #nav li:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px; }
    #nav li:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px; }
    #nav li:last-child {
      margin-right: 0; }
    #nav li a {
      display: block;
      padding: 1em 0em;
      color: white; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #F0F0F0;
  color: #333;
  font-family: Helvetica, Arial, sans-serif; }

#container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #container:before, #container:after {
    content: " ";
    display: table; }
  #container:after {
    clear: both; }
  @media screen and (max-width: 767px) {
    #container {
      margin: 0; } }

#nav {
  background-color: #e6f6d5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6f6d5), color-stop(100%, #cceeaa));
  background-image: -webkit-linear-gradient(#e6f6d5, #cceeaa);
  background-image: linear-gradient(#e6f6d5, #cceeaa);
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1em; }
  #nav:last-child {
    margin-right: 0; }
  #nav li {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    list-style-type: none;
    display: inline-block;
    text-align: center; }
    #nav li:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px; }
    #nav li:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px; }
    #nav li:last-child {
      margin-right: 0; }
    #nav li a {
      display: block;
      padding: 1em 0em;
      color: white; }

.jumbotron {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  padding: 1.5em 3em;
  font-size: 2em; }
  .jumbotron:last-child {
    margin-right: 0; }

#decklist-wrap .decklist {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%;
  text-align: center;
  background-color: #CCC;
  padding: 0.5em; }
  #decklist-wrap .decklist:before, #decklist-wrap .decklist:after {
    content: " ";
    display: table; }
  #decklist-wrap .decklist:after {
    clear: both; }
  #decklist-wrap .decklist:last-child {
    margin-right: 0; }
  #decklist-wrap .decklist .deck {
    height: 3em;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%;
    background-color: #333;
    border: 1px solid white; }
    #decklist-wrap .decklist .deck:last-child {
      margin-right: 0; }
    @media screen and (max-width: 980px) {
      #decklist-wrap .decklist .deck {
        display: block;
        float: left;
        margin-right: 3.16844%;
        width: 42.6842%; }
        #decklist-wrap .decklist .deck:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 767px) {
      #decklist-wrap .decklist .deck {
        display: block;
        float: left;
        margin-right: 4.82916%;
        width: 100%; }
        #decklist-wrap .decklist .deck:last-child {
          margin-right: 0; } }
