 @import "bourbon/bourbon";
 @import "neat/neat";

 @import "colors";
 @import "main";

 .card {
   border-radius:10px;
   border:1px solid #333;

   background-color:white;

   height:20em;
   width:10em;
 }

 .deck {
   height:5em;
   @include span-columns(3);
   
    @include media($mobile) {
      @include span-columns(6);
    }
   float:left;
   display:block;

   margin-bottom:0.5em;
   border:1px solid white;
 }
