$cardColor:white;


$black:#161620;
$red:#C5191E;
$teal:darken(#8AC4F9,10);
$gray:darken(#ABACB0,10);

$active:#6699FF;
$cancel:$red;

$mainNav:#51C5D4;
$footerColor: #51C5D4;
$nounColor:$black;
$adjColor:$red;
