@import "colors";
.deck {
  @include outer-container;
}

.controlset {
  display:block;
  clear:both;
  @include clearfix;
}
.nouns.card {
  color:$nounColor;
}
.adjs.card {
  color:$adjColor;
}

.card {
  @include span-columns(6);
  @include omega(n);

  position:relative;

  background-color:$cardColor;
  border:1px dotted darken($cardColor, 30);

  border-radius:5px;

  height:20em;

  text-align:center;

  p, textarea {
    font-size:2em;
    margin-top:4em;
  }

  button {
    float:right;
    margin:-1px;
    font-size:1.5em;

    &.delete {
      @include gradient($cancel);
    }
  }
}

.nouns, .adjs {
  @include span-columns(6);
  @include outer-container;
}
