@import "colors";
@import "main";
.deck {
  @include outer-container;
}

.controlset {
  display:block;
  clear:both;
  text-align:center;
  @include clearfix;
  width:100%;
  button {
    height: 2em;
    border:none;
    border-radius: 5px;
  }
  .publish {
    background: $teal;
  }

  font-size:1.5em;
}
.nouns div.card p{
  color:$nounColor;
}
.adjs div.card p{
  color:$adjColor;
}

@media print {
    h2 {
      display:none;
    }
  #nav {
    display:none;
  }
  #footer {
    display:none;
  }
  .card {
    height:290px !important;
    font-size:.75em;
  }

  button {
    display:none;
  }
  .nouns, .adjs {
    @include span-columns(12);
  }
}

input.title {
  font-size:2em;
}

.card {
  @include span-columns(6);
  @include omega(n);

  position:relative;

  background-color:$cardColor;
  border:1px dotted darken($cardColor, 30);

  border-radius:5px;

  height:20em;

  text-align:center;

  p, textarea {
    font-size:2em;
    margin-top:4em;
  }

  button {
    float:right;
    margin:-1px;
    font-size:1.5em;

    &.delete {
      @include gradient($cancel);
    }
  }
}

.nouns, .adjs {
  @include span-columns(6);
  @include outer-container;
}
