@import "colors";

.card {
  position:relative;

  background-color:$cardColor;
  border:1px solid darken($cardColor, 30);

  border-radius:5px;

  @include span-columns(3);
  height:20em;

  display:table-cell;
  vertical-align:middle;
  text-align:middle;

  span.text {
    
    font-size:2em;
  }
  &.noun {
    color:$nounColor;
  }
  &.adj {
    color:$adjColor;
  }

  button {
    position:absolute;
    right:0px;
    top:0px;
  }
}
