@import "bourbon/bourbon";
@import "neat/neat";

@import "colors";

$normal-border-radius:10px;
@mixin active-button {
      @include linear-gradient($activeColor, lighten($activeColor, 10));
}

input, textarea {
  @include box-shadow(inset 0 0 1px 1px hsla(0, 0%, 0%, 0.2));
}

form {
  @include clearfix;
}

input, button, textarea {
  display:block;
  font-size:0.8em;
  padding:0.25em;

  border:2px solid #999;
  outline:none;

  &.search {
    border-radius:$normal-border-radius;
  }

  &:focus {
    border-color:$activeColor;
  }
}

button {
    border-radius:$normal-border-radius;

    &[type="submit"] {
      @include linear-gradient($activeColor, lighten($activeColor, 10));
      color:white;
      border-color:$activeColor;
    }
}
