@import "main";

.jumbotron {
  @include span-columns(12);
  padding:1.5em 3em;
  font-size:2em;

  @include media($mobile) {
    padding:1.5em 0;
  }

}

p.description {
    text-align:center;
    margin-bottom:1em;
    color: #FF3333;
}

#querybox {
    text-align:center;
  form {
    input, button {
      padding:0.25em;
      font-size: 18px;
      color: #000000;

    }
    input {
      border-top-left-radius:6px;
      border-bottom-left-radius:6px;
      width: 350px;
      font-size: 18px;

      @include media($mobile) {
        @include span-columns(6);
        border-top-right-radius:10px;
        border-bottom-right-radius:10px;
      }

      &:active {
        outline:0;
        border-color:#999999;
      }
    }
    button {
      margin-left:-3px;
      border-top-right-radius:10px;
      border-bottom-right-radius:10px;

      @include media($mobile) {
        border-top-left-radius:10px;
        border-bottom-left-radius:10px;
      }
    }
  }
}

#decklist-wrap {
  .decklist {
    @include outer-container;
    @include span-columns(4);

    
    text-align:center;

    padding:0.5em;
    padding-bottom: 0;

    h2 {
      color: #EAA83A;
      padding-bottom:0.5em;
      border-bottom:1px solid lighten($gray, 10);
    }

    .deck {
      height:3em;
      @include span-columns(3);
      @include omega(5n);

      border-radius:2px;
      font-family: 'Lato';
      a:link {text-decoration:none;}
      a:visited {text-decoration:none;}
      a{
        color: #FF8000;
      }
      font-weight:normal;
      size: 18px;
      p {
        font-weight:normal;
      }

      background-color:#FFFFFF;
      border:1px solid $gray;
      margin-bottom: 0.4em;
      padding: 0.25em;

      @include media($tablet) {
        @include span-columns(4);
        @include omega(0n);
        width: 48%;
        &:nth-child(odd) {
          margin-right: 0;
        }

      }
      @include media($mobile) {
        @include span-columns(6);
        @include omega(0n);
      }

    }
  }
}
