@import "main";

.jumbotron {
  @include span-columns(12);
  padding:1.5em 3em;

  font-size:2em;
}

p.description {
}

#querybox {
  form {
    input {
    }
    button {
    }
  }
}

#decklist-wrap {
  .decklist {
    @include outer-container;
    @include span-columns(4);
    

    text-align:center;
    background-color:#CCC;

    padding:0.5em;

    @include media($tablet) {
    }
    @include media($mobile) {
    }

    .deck {
      height:3em;

      @include span-columns(3);

      @include media($tablet) {
        @include span-columns(4);
      }
      @include media($mobile) {
        @include span-columns(6);
      }
      background-color:#333;
      border:1px solid white;
    }
  }
}
