$lightenAmount:10;
@mixin gradient($color) {
  @include linear-gradient(lighten($color, $lightenAmount), $color);
}

@mixin round-ends($radius: 10px) {
  &:first-child {
    border-top-left-radius:$radius;
    border-bottom-left-radius:$radius;
  }

  &:last-child {
    border-top-right-radius:$radius;
    border-bottom-right-radius:$radius;
  }
}
